/*
*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header .headerContainer{
  max-width: 900px;
  margin: 40px auto;
}

.main{
  padding-bottom: 40px;
}

.container{
  display: flex;
  max-width: 900px;
  margin: auto;
}

.container .leftside{
  flex: 1;
  margin-right: 40px;
}

.container .leftside h1{
  margin: 0;
  font-size: 40px;
  color: #3A4B5C;
}
.container .leftside p{
  font-size: 16px;
  margin-bottom: 40px;
  color: #6A7D8B;
}
.container .leftside input{
  width: 100%;
  border: 0;
  border-bottom: 2px solid #96a3ab80;
  padding: 10px 3px;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  appearance: textfield;
  -moz-appearance: textfield;
}




.container .leftside input:disabled{
  cursor: not-allowed;
  opacity: 0.5;
}

.container .leftside input::-webkit-outer-spin-button,
.container .leftside input::-webkit-inner-spin-button{
  appearance: none;
  -webkit-appearance: none;
}

.container .leftside button{
  background-color: #227c9d;
  color: #FFF;
  font-size: 15px;
  border: 0;
  border-radius: 10px;
  padding: 15px 0px;
  width: 100%;
  cursor: pointer;
  margin-top: 40px;
}

.container .leftside button:hover{
  opacity: 0.9;
  transition: opacity ease 0.2s
}
.container .leftside button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.container .rightside{
  display: flex;
  flex: 1;
  margin-left: 40px;
}

.container .rightside .grid{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.container .rightside .rightBig{
  flex: 1;
  display: flex;
}

.container .rightside .rightArrow{
  position: absolute;
  background-color: #227C9D;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 145px;
}

@media (max-width: 768px){
  header{
    padding: 0 20px;
  }
  .container{
    padding: 0 20px;
    flex-direction: column;
  }
  .container .leftside,
  .container .rightside{
    margin: 0;
  }
  .container .rightside{
    margin-top: 30px;
  }
  .container .rightside .rightArrow{
    margin: 0;
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }

}

@media (max-width: 425px){
  .container .rightside .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
*/